@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: rgba(76, 88, 102, 1);
}

.header {
    max-width: 1200px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}

.header__logo {
    width: 140px;
}

.header__logo img {
    width: 100%;
    height: auto;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__link {
    color: rgba(76, 88, 102, 1);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.line {
    border: none;
    border-top: 1px solid rgba(221, 221, 221, 1);
    margin: 0;
}

.hero {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hero__info {
    flex: 1;
}

.hero__title {
    color: rgba(76, 88, 102, 1);
    font-family: Roboto;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0%;
    text-align: left;
}

.hero__description {
    color: rgba(133, 133, 155, 1);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.hero__button {
    width: 255px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6;
    padding: 20px 50px 20px 50px;
    box-sizing: border-box;
    border: 1px solid rgba(120, 117, 254, 1);
    color: rgba(120, 117, 254, 1);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

.hero__image {
    flex: 1;
    text-align: center;
}

.line__features {
    border: none;
    border-top: 1px solid rgba(192, 192, 192, 1);
    margin: 0 auto 60px auto;
}

.features {
    background: rgba(221, 221, 221, 1);
    padding: 60px 0;
}

.features__container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.feature {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    text-align: left;
    flex: 1;
}

.feature__image {
    width: 160px;
    height: 118px;
    flex-shrink: 0;
    object-fit: contain;
}

.feature__content {
    display: flex;
    flex-direction: column;
}

.feature__title {
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.feature__text {
    color: rgba(133, 133, 155, 1);
    font-size: 18px;
    margin: 5px 0 0 0;
    font-weight: 400;
}

.whiteness {
    background: rgba(221, 221, 221, 1);
    width: 100%;
    max-width: none;
    margin: 0 auto;
    padding: 60px 20px;
    display: flex;
    align-items: flex-start;
    gap: 80px;
    border-radius: 0;
}

.whiteness__container {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 80px;
}

.whiteness__title {
    color: rgba(102, 102, 102, 1);
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: left;
}

.whiteness__text {
    color: rgba(133, 133, 155, 1);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.products {
    background: rgba(255, 255, 255, 1);
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
    display: flex;
    gap: 30px;
}

.product-card__title {
    color: rgba(102, 102, 102, 1);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.product-card__count {
    color: rgba(181, 181, 189, 1);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.product-card__description {
    color: rgba(133, 133, 155, 1);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.product-card__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5;
    color: rgba(120, 117, 254, 1);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

.brands {
    background: rgba(221, 221, 221, 1);
    padding: 60px 0;
    margin: 80px 0;
}

.brands__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.sketchbook {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
}

.sketchbook__content {
    display: flex;
    align-items: center;
    gap: 60px;
    border-radius: 12px;
    padding: 10px;
}

.sketchbook__title {
    color: rgba(102, 102, 102, 1);
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: left;
}

.sketchbook__description {
    color: rgba(133, 133, 155, 1);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.sketchbook__button {
    width: 255px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6;
    padding: 20px 50px 20px 50px;
    box-sizing: border-box;
    border: 1px solid rgba(120, 117, 254, 1);
    color: rgba(120, 117, 254, 1);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

.sketchbook__image {
    flex: 1;
    text-align: center;
}

.footer {
    background: rgba(76, 88, 102, 1);
    padding: 40px 0 0 0;
}

.footer__main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    background-color: rgba(255, 255, 255, 1);
    padding: 15px 0;
    margin-top: 40px;
    text-align: center;
}

.footer__copyright p {
    margin: 0;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}